body {
  background-color: darkslategray;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.checklist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .checklistCard {
    border: solid white 1px;
    border-radius: 5px;
    width: 90%;
    height: 100px;
    padding: 0.5rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
